# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignore IntelliJ IDEA files
/.idea/
/core_java/.idea/
/core_java/jdbc/.idea/
/core_java/jdbc/.vscode/
